body {
    background-image: url("back.jpg");
    margin: auto;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

#form {
    background-color: rgba(20, 76, 150, 0.8);
    width: 25%;
    border-radius: 10px;
    margin: 100px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(15, 15, 15);
    height: 40%;
    text-align: left;
    position: absolute;
    top: 50%;
    right: 180px;
    transform: translateY(-50%);
}

#btn {
    color: #fff;
    background-color: #3498db;
    padding: 12px 20px;
    font-size: larger;
    border-radius: 25px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    outline: none; 
}

#btn:hover {
    background-color: #2980b9;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

h3 {
    text-align: left;
    margin-top: 5%;
    font-size: 60px;
    font-weight: bold;
    color: rgb(194, 126, 0);
}

input {
    width: 70%;
    padding: 10px;
    border-radius: 15px;
    font-size: small;
    color: black;
    margin-bottom: 10px;
    border: 2px solid #2980b9;;
    background-color: rgba(255, 255, 255, 0.9);
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
}

.box {
    background-color: rgba(20, 76, 150, 0.9);
    width: 35%;
    border-radius: 10px;
    margin: 100px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(15, 15, 15);
    height: 43%;
    text-align: left;
    margin-left: 11%;
    font-size: larger;
}

.box p {
    margin: 0;
    font-size: 16px;
    color: #fff;
}

.box i {
    margin: 0 5px;
    color: #fff;
}

.fa {
    margin-top: -10px;
    padding: 5px;
    width: 60px;
    height: 40px;
    text-align: center;
    text-decoration: none;
  }
 
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-linkedin {
    color: white;
  }

  .fa-facebook {  
    color: white;
  }
  
  .fa-twitter {
    color: white;
  }

  .fa-instagram{
      color: white;
  }

@media screen and (max-width: 570px) {
    #form {
        width: 65%;
        margin-left: none;
        padding: 40px;
    }
}